@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('http://fonts.cdnfonts.com/css/bookman-old-style');

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  color:#ffffef;
}
  
body {
  display:flex;
  flex-direction:column;
}
  
a {
  text-decoration:none;
}

.quote,
.choices {
  background-color:#e8c158;
}
  
.parallax-container {
  display:flex;
}
    
.parallax,
.footer {
  background-size:cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
}

/* SECTION 0: FONTS */
p {
  font-family:'Montserrat', sans-serif;
}

a {
  font-family:"Bookman Old Style", serif;
}

li {
  font-family:Georgia, 'Times New Roman', Times, serif;
}
  
/* SECTION 1: [HEADER] NAVIGATION BAR */
#navbar {
  display:flex;
  height:8vh;
  max-width:100%;
  align-items:center;
  justify-content:space-between;
  padding:0.5em 1em;
}
  
.links {
  max-width:100%;
  list-style-type:none;
  display:flex;
  justify-content:space-between;
  column-gap:1em;
}
  
/* SECTION 2: PARALLAX IMAGE #1  */
.parallax.one {
  z-index:-1;
  margin-top:-8vh;
  background-image:url("../img/index-parallax1.png");
  background-position:top;
  height:40vh;
  width:100%;
}
  
/* SECTION 3: QUOTE SECTION */
.quote {
  height:fit-content;
  max-width:100%;
  font-size:1.2em;
  justify-content:center;
  padding:5%;
  font-weight:lighter;
  font-style:italic;
  text-align:justify;
}
  
/* SECTION 4: PARALLAX IMAGE #2 */
.parallax.two {
  background-image:url("../img/index-parallax2.png");
  background-position:center;
  height:40vh;
  width:100%;
}
  
/* SECTION 5: WEBSITE CHOICE */
.choices {
  display:flex;
  width:100%;
  height:fit-content;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  row-gap:36px;
  padding:2%;
}

.options-container {
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:100px;
  text-align:center;
}

.options {
  display:flex;
  flex-direction:column;
  width:180px;
  height:fit-content;
  row-gap:1em;
}

.options_img {
  border-radius:10px;
  border:#ffffef solid 1px;
  height:160px;
  object-fit:cover;
}

/* SECTION 6: FOOTER */
#footer {
  background-image:url('../img/footer-bg.webp');
  background-position:center;
  height:fit-content;
  width:100%;
  padding:2%;
  display:flex;
  justify-content:center;
  align-items:center;
}